/*
(조건 1)
JOIN  순서  :  CUST → SAL → GOODS
NL 조인     :  CUST → SAL,  SAL → GOODS
인덱스 활용 :  PK_CUST,  IX_GOODS_01

(조건 2)
JOIN 순서 : 위와 동일
조인      :  NL(CUST→SAL) → HASH(앞의 결과와 GOODS)

  
인덱스 
- PK_CUST 		: CUST  ( CUST_NO)
- PK_SAL    	: SAL    ( CUST_NO, GOOD_NO, SAL_DATE)
- IX_GOODS_01	: GOODS( GOOD_NO, BRANCH_CODE)

*/

DROP   TABLE YOON.CUST ;
CREATE TABLE YOON.CUST AS
SELECT lpad(trim(to_char(rownum)), 6, '0') CUST_NO ,
       '123456756789067890'                CUST_NM ,
       '123456756789067890'                DEPTNO
FROM DUAL 
CONNECT BY LEVEL <= 100000;


ALTER TABLE YOON.CUST 
ADD CONSTRAINT PK_CUST PRIMARY KEY (CUST_NO)
USING INDEX;


CREATE PUBLIC SYNONYM CUST FOR YOON.CUST;

DROP   TABLE YOON.GOODS;
CREATE TABLE YOON.GOODS AS
SELECT lpad(trim(to_char(rownum)), 2, '0') GOOD_NO,
       CASE WHEN MOD(ROWNUM, 5) = 0 THEN '강남점' ELSE TO_CHAR(ROWNUM) END BRANCH_CODE,
       '3456789' INFO
FROM DUAL
CONNECT BY LEVEL <= 20;

CREATE INDEX YOON.IX_GOODS_01 
ON YOON.GOODS(GOOD_NO, BRANCH_CODE);

CREATE PUBLIC SYNONYM GOODS FOR YOON.GOODS;

DROP   TABLE YOON.SAL;
CREATE TABLE YOON.SAL AS
SELECT A.CUST_NO, B.GOOD_NO, TO_CHAR(SYSDATE - ROWNUM , 'YYYYMMDD') SAL_DATE,
       '5678956786789' SAL_INFO
FROM CUST A, GOODS B
;

ALTER TABLE YOON.SAL
ADD CONSTRAINT PK_SAL PRIMARY KEY(CUST_NO, GOOD_NO, SAL_DATE);

CREATE PUBLIC SYNONYM SAL FOR YOON.SAL;


EXECUTE DBMS_STATS.GATHER_TABLE_STATS('YOON', 'CUST');
EXECUTE DBMS_STATS.GATHER_TABLE_STATS('YOON', 'GOODS');
EXECUTE DBMS_STATS.GATHER_TABLE_STATS('YOON', 'SAL');