DROP TABLE YOON.T_CUST41;
CREATE TABLE YOON.T_CUST41
  (CUST_NO       VARCHAR2(6),
   CUST_NM       VARCHAR2(50),
   CUST_CD       VARCHAR2(5),
   C1           VARCHAR2(30),
   C2           VARCHAR2(30),
   C3           VARCHAR2(30),
   C4           VARCHAR2(30),
   C5           VARCHAR2(30),
   CONSTRAINT PK_T_CUST41 PRIMARY KEY (CUST_NO)
  );

CREATE PUBLIC SYNONYM T_CUST41 FOR YOON.T_CUST41;

INSERT /*+ APPEND */ INTO T_CUST41
SELECT LPAD(TO_CHAR(ROWNUM), 6, '0')                                    CUST_NO
     , RPAD(TO_CHAR(ROUND(DBMS_RANDOM.VALUE(1, 65000))), 10, '0')       CUST_NM
     , RPAD(TO_CHAR(ROUND(DBMS_RANDOM.VALUE(1, 200))) || 'A', 5, '0')   CUST_CD
     , 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'                                     C1
     , 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'                                     C2
     , 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'                                     C3
     , 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'                                     C4
     , 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'                                     C5
FROM DUAL
CONNECT BY LEVEL <= 70000
ORDER BY DBMS_RANDOM.RANDOM();

COMMIT;

DROP TABLE YOON.T_ORDER41;
CREATE TABLE YOON.T_ORDER41
  ( ORDER_SN           VARCHAR2(7)
  , CUST_NO            VARCHAR2(6)
  , GOODS_CODE         VARCHAR2(5)
  , ORDER_PRICE        NUMBER
  , ORDER_QTY          NUMBER
  , ORDER_DT           VARCHAR2(8)
  , CONSTRAINT PK_T_ORDER41 PRIMARY KEY(ORDER_SN)
  );
  
CREATE PUBLIC SYNONYM T_ORDER41 FOR YOON.T_ORDER41;

DROP TABLE YOON.T_DATE;
CREATE TABLE YOON.T_DATE AS
SELECT TO_CHAR(TO_DATE('20160101', 'YYYYMMDD') + ROWNUM, 'YYYYMMDD') DT
FROM DUAL
CONNECT BY LEVEL <= 177
ORDER BY DBMS_RANDOM.RANDOM();

CREATE PUBLIC SYNONYM T_DATE FOR YOON.T_DATE;

INSERT /*+ APPEND */ INTO T_ORDER41
SELECT  LPAD(TO_CHAR(ROWNUM), 7, '0') ORDER_SN
     ,  CASE WHEN ROWNUM <= 65000
             THEN LPAD(TO_CHAR(ROWNUM), 6, '0') 
             ELSE LPAD(TO_CHAR(DECODE(MOD(ROWNUM, 65000), 0, 1,MOD(ROWNUM, 65000))) ,6, '0')
        END CUST_NO
     , '00000'  GOODS_CODE
     ,  ROWNUM * 10 ORDER_PRICE
     ,  20 ORDER_QTY, DT ORDER_DT
FROM T_DATE A,
     (SELECT ROWNUM R_NUM FROM DUAL CONNECT BY LEVEL <= 8500) B
WHERE DT >= '20151028'
ORDER BY R_NUM
;

COMMIT;


CREATE INDEX YOON.IX_T_CUST41_01 ON YOON.T_CUST41(CUST_CD);
CREATE INDEX YOON.IX_T_ORDER41_01 ON YOON.T_ORDER41(CUST_NO, ORDER_DT);

EXECUTE DBMS_STATS.GATHER_TABLE_STATS('YOON', 'T_ORDER41');
EXECUTE DBMS_STATS.GATHER_TABLE_STATS('YOON', 'T_CUST41');

