ALTER SESSION SET WORKAREA_SIZE_POLICY = MANUAL;
ALTER SESSION SET SORT_AREA_SIZE=2000000000;
ALTER SESSION SET HASH_AREA_SIZE=2000000000;

DROP TABLE YOON.T_CONSULT55;
CREATE TABLE YOON.T_CONSULT55
  (CONSULT_NO        NUMBER,        -- 상담번호
   CONSULTANT_ID     VARCHAR2(4),   -- 상담자_ID
   CON_DT           VARCHAR2(8),   -- 상담일자
   CON_TM            VARCHAR2(4),  -- 상담시간
   RSLT_CD           VARCHAR2(4),   -- 0800(진행), 0900(완료)
   AFTRSLT_CD        VARCHAR2(2),   -- 11보류,  21부서이관
   CUST_ID           VARCHAR2(8),   -- 고객_ID
   CONSTRAINT PK_T_CONSULT55 PRIMARY KEY(CONSULT_NO, CON_DT)
   ) 
   PARTITION BY RANGE (CON_DT)				
  (				
    PARTITION	PT_201912	VALUES LESS THAN	('202001'),
    PARTITION	PT_202001	VALUES LESS THAN	('202002'),
    PARTITION	PT_202002	VALUES LESS THAN	('202003'),
    PARTITION	PT_202003	VALUES LESS THAN	('202004'),
    PARTITION	PT_202004	VALUES LESS THAN	('202005'),
    PARTITION	PT_202005	VALUES LESS THAN	('202006'),
    PARTITION	PT_202006	VALUES LESS THAN	('202007'),
    PARTITION	PT_202007	VALUES LESS THAN	('202008'),
    PARTITION	PT_202008	VALUES LESS THAN	('202009'),
    PARTITION	PT_202009	VALUES LESS THAN	('202010'),
    PARTITION	PT_202010	VALUES LESS THAN	('202011'),
    PARTITION	PT_202011	VALUES LESS THAN	('202012'),
    PARTITION	PT_202012	VALUES LESS THAN	('202101'),
    PARTITION	PT_202101	VALUES LESS THAN	('202102'),
    PARTITION	PT_202102	VALUES LESS THAN	('202103'),
    PARTITION	PT_202103	VALUES LESS THAN	('202104'),
    PARTITION	PT_202104	VALUES LESS THAN	('202105'),
    PARTITION	PT_202105	VALUES LESS THAN	('202106'),
    PARTITION	PT_202106	VALUES LESS THAN	('202107'),
    PARTITION	PT_202107	VALUES LESS THAN	('202108'),
    PARTITION	PT_202108	VALUES LESS THAN	('202109'),
    PARTITION	PT_202109	VALUES LESS THAN	('202110'),
    PARTITION	PT_202110	VALUES LESS THAN	('202111'),
    PARTITION	PT_202111	VALUES LESS THAN	('202112'),
    PARTITION	PT_202112	VALUES LESS THAN	('202201'),
    PARTITION	PT_202201	VALUES LESS THAN	('202202'),
    PARTITION	PT_202202	VALUES LESS THAN	('202203'),
    PARTITION	PT_202203	VALUES LESS THAN	('202204'),    
    PARTITION	PT_202204	VALUES LESS THAN	('202205'),
    PARTITION	PT_202205	VALUES LESS THAN	('202206'),
    PARTITION	PT_202206	VALUES LESS THAN	('202207'),
    PARTITION	PT_202207	VALUES LESS THAN	('202208'),
    PARTITION	PT_202208	VALUES LESS THAN	('202209'),
    PARTITION	PT_202209	VALUES LESS THAN	('202210'),
    PARTITION	PT_202210	VALUES LESS THAN	('202211'),
    PARTITION	PT_202211	VALUES LESS THAN	('202212'),
    PARTITION	PT_202212	VALUES LESS THAN	('202301'),    
    PARTITION	PT_202301	VALUES LESS THAN	('202302'),
    PARTITION	PT_202302	VALUES LESS THAN	('202303'),
    PARTITION	PT_202303	VALUES LESS THAN	('202304'),     
    PARTITION	PT_202304	VALUES LESS THAN	('202305'),
    PARTITION	PT_202305	VALUES LESS THAN	('202306'),
    PARTITION	PT_202306	VALUES LESS THAN	('202307'),
    PARTITION	PT_202307	VALUES LESS THAN	('202308'),
    PARTITION	PT_202308	VALUES LESS THAN	('202309'),     
    PARTITION	PT_202309	VALUES LESS THAN	('202310'),
    PARTITION	PT_202310	VALUES LESS THAN	('202311'),
    PARTITION	PT_202311	VALUES LESS THAN	('202312'),
    PARTITION	PT_202312	VALUES LESS THAN	('202401'),
    PARTITION	PT_202401	VALUES LESS THAN	('202402'),
    PARTITION	PT_202402	VALUES LESS THAN	('202403'),
    PARTITION	PT_202403	VALUES LESS THAN	('202404'),     
    PARTITION	PT_202404	VALUES LESS THAN	('202405'),
    PARTITION	PT_202405	VALUES LESS THAN	('202406'),
    PARTITION	PT_202406	VALUES LESS THAN	('202407'),
    PARTITION	PT_202407	VALUES LESS THAN	('202408'),
    PARTITION	PT_202408	VALUES LESS THAN	('202409'),     
    PARTITION	PT_202409	VALUES LESS THAN	('202410'),
    PARTITION	PT_202410	VALUES LESS THAN	('202411'),
    PARTITION	PT_202411	VALUES LESS THAN	('202412'),
    PARTITION	PT_202412	VALUES LESS THAN	('202501')
) 
NOLOGGING;

CREATE PUBLIC SYNONYM T_CONSULT55 FOR YOON.T_CONSULT55;


INSERT /*+ APPEND */ INTO T_CONSULT55
SELECT ROWNUM                                                            CONSULT_NO   ,
       'T'|| LPAD(TO_CHAR(TRUNC(DBMS_RANDOM.VALUE(1, 300))), 3, '0')     CONSULTANT_ID,
       CON_DT,
       LPAD(TO_CHAR(TRUNC(DBMS_RANDOM.VALUE(9, 18))), 2, '0') 
       || LPAD(TO_CHAR(TRUNC(DBMS_RANDOM.VALUE(0, 59))), 2, '0')         CON_TM      ,
       CASE WHEN MOD(ROWNUM, 100) = 0 THEN '0800' ELSE '0900' END        RSLT_CD      ,
       CASE WHEN MOD(ROWNUM, 100) BETWEEN 90 AND 99 THEN '11'
            WHEN MOD(ROWNUM, 100) BETWEEN 80 AND 89 THEN '21'
            ELSE '00'
       END                                                               AFTRSLT_CD   ,
       'C'|| LPAD(TO_CHAR(TRUNC(DBMS_RANDOM.VALUE(1, 6000000))), 7, '0') CUST_ID
FROM (SELECT TO_CHAR(TO_DATE('20200101', 'YYYYMMDD') + ROWNUM -1, 'YYYYMMDD') CON_DT
      FROM DUAL CONNECT BY LEVEL <= 1800),
     (SELECT LEVEL FROM DUAL CONNECT BY LEVEL <=10000)
--ORDER BY DBMS_RANDOM.RANDOM()
;

COMMIT;

EXECUTE DBMS_STATS.GATHER_TABLE_STATS('YOON', 'T_CONSULT55');
ALTER SESSION SET WORKAREA_SIZE_POLICY=AUTO;