DROP TABLE   YOON.T_CUST61;

CREATE TABLE YOON.T_CUST61
   (CUST_NO    VARCHAR2(6) ,
    CUST_NM    VARCHAR2(50),
    ADDR       VARCHAR2(100),
    TEL        VARCHAR2(11),
    CONSTRAINT PK_T_CUST61 PRIMARY KEY(CUST_NO)
    );
    
CREATE PUBLIC SYNONYM T_CUST61 FOR YOON.T_CUST61;

INSERT INTO T_CUST61 
SELECT 'C'||LPAD(TO_CHAR(LEVEL), 5, '0')  CUST_NO , 
       'ABCDEF' || TO_CHAR(LEVEL)         CUST_NM ,
       '1234567ASDFFDSAASDFFDSAASDFFDSAA' ADDR    ,
       '01012341234'                      TEL
FROM DUAL
CONNECT BY LEVEL <= 10000;

COMMIT;

DROP   TABLE YOON.T_ORDER61;
CREATE TABLE YOON.T_ORDER61
   (CUST_NO     VARCHAR2(6)   ,
    ORDER_DT    VARCHAR2(8)   ,
    ORDER_SN    NUMBER        ,
    ORDER_AMT   NUMBER DEFAULT 0,
    CONSTRAINT PK_T_ORDER61 PRIMARY KEY(CUST_NO, ORDER_DT, ORDER_SN)
   )
PARTITION BY RANGE(ORDER_DT)
   (PARTITION PT201601 VALUES LESS THAN ('20160201'),
    PARTITION PT201602 VALUES LESS THAN ('20160301'),
    PARTITION PT201603 VALUES LESS THAN ('20160401'),
    PARTITION PT201604 VALUES LESS THAN ('20160501'),
    PARTITION PT201605 VALUES LESS THAN ('20160601'),
    PARTITION PT201606 VALUES LESS THAN ('20160701')
   );

CREATE PUBLIC SYNONYM T_ORDER61 FOR YOON.T_ORDER61;

DROP TABLE YOON.T_DATE;
CREATE TABLE YOON.T_DATE AS
SELECT TO_CHAR(TO_DATE('20160101', 'YYYYMMDD') + LEVEL , 'YYYYMMDD') DT
FROM DUAL
CONNECT BY LEVEL <= 177
;

select * from t_date order by dt;

CREATE PUBLIC SYNONYM T_DATE FOR YOON.T_DATE;

INSERT INTO T_ORDER61
SELECT A.CUST_NO, B.DT, 
       ROW_NUMBER() OVER(PARTITION BY A.CUST_NO, B.DT ORDER BY CUST_NO, B.DT) ORDER_SN,
       ROWNUM * 10000 ORDER_AMT
FROM T_CUST61 A, T_DATE B,
     (SELECT LEVEL SNO
      FROM DUAL
      CONNECT BY LEVEL <= 10
     ) C
;

COMMIT;

DROP   TABLE YOON.T_ORDER_PROD61;
CREATE TABLE YOON.T_ORDER_PROD61
   (CUST_NO     VARCHAR2(6)   ,
    ORDER_DT    VARCHAR2(8)   ,
    ORDER_SN    NUMBER        ,
    PROD_NO     VARCHAR2(5)   ,
    PRICE       NUMBER DEFAULT 0  ,
    AMT         NUMBER ,
    CONSTRAINT PK_T_ORDER_PROD61 PRIMARY KEY(CUST_NO, ORDER_DT, ORDER_SN, PROD_NO)
   )
PARTITION BY RANGE(ORDER_DT)
   (PARTITION PT201601 VALUES LESS THAN ('20160201'),
    PARTITION PT201602 VALUES LESS THAN ('20160301'),
    PARTITION PT201603 VALUES LESS THAN ('20160401'),
    PARTITION PT201604 VALUES LESS THAN ('20160501'),
    PARTITION PT201605 VALUES LESS THAN ('20160601'),
    PARTITION PT201606 VALUES LESS THAN ('20160701')
   );

CREATE PUBLIC SYNONYM T_ORDER_PROD61 FOR YOON.T_ORDER_PROD61;

INSERT INTO T_ORDER_PROD61
SELECT A.CUST_NO, A.ORDER_DT, A.ORDER_SN,
       'P'|| LPAD(TO_CHAR(B.LVL), 4, '0') PROD_NO,
       ROWNUM * 1000 PRICE,
       MOD(ROWNUM, 5) AMT
FROM T_ORDER61 A,
     (SELECT LEVEL LVL FROM DUAL CONNECT BY LEVEL <= 3) B
;

COMMIT;

CREATE INDEX YOON.IX_T_ORDER_PROD61 ON YOON.T_ORDER_PROD61(ORDER_DT) ;

EXECUTE DBMS_STATS.GATHER_TABLE_STATS('YOON', 'T_CUST61');
EXECUTE DBMS_STATS.GATHER_TABLE_STATS('YOON', 'T_ORDER61');
EXECUTE DBMS_STATS.GATHER_TABLE_STATS('YOON', 'T_ORDER_PROD61');

DROP TABLE YOON.T_AGGRE61;
CREATE TABLE YOON.T_AGGRE61
  (CUST_NO        VARCHAR2(6)   ,
   ORDER_DT       VARCHAR2(8)   ,
   ORDER_SN       NUMBER        ,
   ORDER_AMT      NUMBER        ,
   PROD_NO        VARCHAR2(5)   ,
   PRICE          NUMBER        ,
   ORDER_CNT      NUMBER        ,
   ORDER_PROD_CNT NUMBER  
   );
   
CREATE PUBLIC SYNONYM T_AGGRE61 FOR YOON.T_AGGRE61;
